name: Mail Toaster Tests

on: [ push, pull_request ]

jobs:
  shellcheck:
    name: Shellcheck
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Run ShellCheck
      uses: ludeeus/action-shellcheck@master
      env:
        SHELLCHECK_OPTS: -x -e SC1091,SC2009,SC2039,SC2086,SC2153,SC2016,SC1004,SC2119

